@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
    /* ------ Color Primary ------ */
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    /* ------ Color Neutral ------ */
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    /* ------ Font ------ */
    --font-regular: 400;
    --font-semiBold: 600;
    --font-bold: 700;
    --font-outfit: 'Outfit', sans-serif;;
    --font-young: 'Young Serif', serif;;
    --font-size: 16px;
}

/* ------ Principal ------ */
body {
    background: var(--off-black);
    font-size: var(--font-size);
    font-weight: var(--font-regular);
    font-family: var(--font-inter);
    color: var(--white);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 530px;
    width: 280px;
    padding: 25px;
    background: var(--dark-grey);
    border-radius: 10px; */
}

/* ------ Card ------ */


/* -------- Attribution -------- */
.attribution {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0.5rem;
    font-size: 0.7rem;
    color: gray;
}

.attribution a {
    color: var(--white);
}

/* ------ Responsivo ------ */
/* @media only screen and (min-width: 390px) {

} */